*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img_logo{
    padding-left: 50px;
}
.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.nav_text{
    color: rgb(100, 92, 92);
    text-decoration: none;
}
.carousel-inner{
    padding-left: 30px;
    padding-right: 30px;
}
.cards{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
   
}
.chairman {
    border: 1px solid rgb(70, 70, 129);
    /* padding-left: 10px; */
    padding: 20px;
    
}
h5{
    color: lightskyblue;
    text-align: center;
}
.footer{
    background-color: rgb(48, 48, 68);
    height: 60px;
}

.footer_text{
    padding-top: 15px;
    color: blanchedalmond;
}
.fa-address-book .fa-eye.fa-eye-dropper{
    padding-left: 250px;
}

p{
    font-weight: 600;
}
.newcard{
    border: 1px solid rgb(70, 70, 129);
    /* padding: 20px; */
}
.newcard{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.PRINCIPAL {
    max-width: 40%;
    border:1px solid cadetblue;
    padding: 20px;
    height: 300px;
}
.campus{
    max-width: 30%;
    border:1px solid cadetblue;
    padding-left: 20px;
    height: 200px;
}

.Links{
    width: 400px;
    border:1px solid cadetblue;
    /* padding-left: 20px; */
    height: 350px;
}

.clg_heading{
    background-color: cadetblue;
}

.nav_text2{
    font-weight: 600;
    text-decoration: none;
    color: darkblue;
}

